# Library Network In Cincinnati

In [1]:
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
geolocator = Nominatim()

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Load in the data for the Cincinnati Network
libs = pd.read_csv("C:\Users\James\Desktop\CinData\puout10a.csv")

c:\Users\James\Anaconda\lib\site-packages\pandas\io\parsers.py:1159: DtypeWarning: Columns (31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
# Top Rows in the dataframe
libs.head(5)

,STABR,FSCSKEY,FSCS_SEQ,LIBID,LIBNAME,ADDRESS,CITY,ZIP,ZIP4,CNTY,...,LATITUDE,FIPSST,FIPSCO,FIPSPLAC,CNTYPOP,LOCALE,CENTRACT,CENBLOCK,CDCODE,MAT_CENT
0,AK,AK0001,2,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,72251 MILO FRITZ AVENUE,ANCHOR POINT,99556,129,KENAI PENINSULA,...,59.813510,2,122,54085,55610,43,8.000000,2005,0,X
1,AK,AK0002,7,AK0002-007,CHUGIAK/EAGLE RIVER BRANCH LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,99577,7743,ANCHORAGE,...,61.328746,2,20,3000,293227,32,2.010000,2021,0,0
2,AK,AK0002,8,AK0002-008,MULDOON BRANCH LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,99504,2070,ANCHORAGE,...,61.210560,2,20,3000,293227,11,7.030000,5008,0,0
3,AK,AK0002,9,AK0002-009,SAMSON-DIMOND BRANCH LIBRARY,"800 EAST DIMOND BOULEVARD, SUITE 23",ANCHORAGE,99515,2036,ANCHORAGE,...,61.144580,2,20,3000,293227,11,27.120001,1000,0,0
4,AK,AK0002,10,AK0002-010,SCOTT AND WESLEY GERRISH BRANCH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,99587,169,ANCHORAGE,...,60.942500,2,20,3000,293227,42,29.000000,2023,0,X

In [5]:
#Only interested in Cincinnati libraries
Cin_Lib = libs[libs['CITY'] == 'CINCINNATI']
Cin_Lib.head(5)

,STABR,FSCSKEY,FSCS_SEQ,LIBID,LIBNAME,ADDRESS,CITY,ZIP,ZIP4,CNTY,...,LATITUDE,FIPSST,FIPSCO,FIPSPLAC,CNTYPOP,LOCALE,CENTRACT,CENBLOCK,CDCODE,MAT_CENT
12282,OH,OH0018,9,118B06,UNION TWP. BRANCH LIBRARY,4462 MT. CARMEL-TOBASCO RD.,CINCINNATI,45244,2224,CLERMONT,...,39.09684,39,25,52612,197604,21,414.029999,2000,2,0
12364,OH,OH0049,2,OH0049-002,"CINCINNATI AND HAMILTON COUNTY, PL OF",O800 VINE ST.--LIBRARY SQUARE,CINCINNATI,45202,2009,HAMILTON,...,39.10465,39,61,15000,802252,11,7.000000,5005,2,0
12365,OH,OH0049,3,149B01,ANDERSON BRANCH LIBRARY,7450 STATE RD.,CINCINNATI,45230,2159,HAMILTON,...,39.08464,39,61,72252,802252,21,250.009994,1007,2,0
12366,OH,OH0049,4,149B02,AVONDALE BRANCH LIBRARY,3656 READING RD.,CINCINNATI,45229,2116,HAMILTON,...,39.15006,39,61,15000,802252,11,66.000000,1003,1,0
12369,OH,OH0049,9,149B07,CLIFTON BRANCH LIBRARY,351 LUDLOW AVE.,CINCINNATI,45220,2018,HAMILTON,...,39.14375,39,61,15000,802252,11,72.000000,1000,1,0

In [6]:
# The number of libraries in Cincinnti
len(Cin_Lib)

27

In [7]:
#Create a new dataframe of just the columns Im interested in.

Cin_LibTwo = Cin_Lib[['LIBNAME','ADDRESS','CITY','LONGITUD','LATITUDE','FIPSST','FIPSCO','CENTRACT']]
Cin_LibTwo.columns = ['LIBNAME','ADDRESS','CITY','LONGITUDE','LATITUDE','FIPSST','FIPSCO','CENSUSTRACT']
Cin_LibTwo = pd.DataFrame(Cin_LibTwo)

In [8]:
# Checking my DataFrame

Cin_LibTwo.head(3)

,LIBNAME,ADDRESS,CITY,LONGITUDE,LATITUDE,FIPSST,FIPSCO,CENSUSTRACT
12282,UNION TWP. BRANCH LIBRARY,4462 MT. CARMEL-TOBASCO RD.,CINCINNATI,-84.300304,39.09684,39,25,414.029999
12364,"CINCINNATI AND HAMILTON COUNTY, PL OF",O800 VINE ST.--LIBRARY SQUARE,CINCINNATI,-84.513841,39.10465,39,61,7.000000
12365,ANDERSON BRANCH LIBRARY,7450 STATE RD.,CINCINNATI,-84.352522,39.08464,39,61,250.009994

In [9]:
libs2 = pd.read_csv("C:\Users\James\Desktop\CinData\librarydata.csv")
#Only interested in Cincinnati libraries
Cin_Lib2 = libs2[libs2['CITY'] == 'CINCINNATI']
Cin_Lib2.head(5)

,STABR,FSCSKEY,FSCS_SEQ,LIBID,LIBNAME,ADDRESS,CITY,ZIP,ZIP4,CNTY,...,FIPSCO,FIPSPLAC,CNTYPOP,LOCALE,CENTRACT,CENBLOCK,CDCODE,MAT_CENT,Tract1,Tract2
12282,OH,OH0018,9,118B06,UNION TWP. BRANCH LIBRARY,4462 MT. CARMEL-TOBASCO RD.,CINCINNATI,45244,2224,CLERMONT,...,25,52612,197604,21,414.029999,2000,2,0,39025,3.902500e+10
12364,OH,OH0049,2,OH0049-002,"CINCINNATI AND HAMILTON COUNTY, PL OF",O800 VINE ST.--LIBRARY SQUARE,CINCINNATI,45202,2009,HAMILTON,...,61,15000,802252,11,7.000000,5005,2,0,39061,3.906100e+08
12365,OH,OH0049,3,149B01,ANDERSON BRANCH LIBRARY,7450 STATE RD.,CINCINNATI,45230,2159,HAMILTON,...,61,72252,802252,21,250.009994,1007,2,0,39061,3.906100e+10
12366,OH,OH0049,4,149B02,AVONDALE BRANCH LIBRARY,3656 READING RD.,CINCINNATI,45229,2116,HAMILTON,...,61,15000,802252,11,66.000000,1003,1,0,39061,3.906100e+09
12369,OH,OH0049,9,149B07,CLIFTON BRANCH LIBRARY,351 LUDLOW AVE.,CINCINNATI,45220,2018,HAMILTON,...,61,15000,802252,11,72.000000,1000,1,0,39061,3.906100e+09

In [10]:
Cin_LibThree = Cin_Lib2[['LIBNAME','ADDRESS','CITY','LONGITUD','LATITUDE','FIPSST','FIPSCO','CENTRACT','Tract2']]
Cin_LibThree.columns = ['LIBNAME','ADDRESS','CITY','LONGITUDE','LATITUDE','FIPSST','FIPSCO','CENSUSTRACT','TRACT2']
Cin_LibThree = pd.DataFrame(Cin_LibThree)

# Plot Data to Go Onto Map

In [11]:
from xlwt import *
Cin_LibThree.to_excel("C:\Users\James\Desktop\CinData\ResourceLocation\Library_Resource_Location.xlsx",'Resource')

# Load in Census Tract Information

In [12]:
census_files = pd.read_csv("C:\Users\James\Desktop\CinData\OhioCensusTracts\OhioCensusTracts.csv")
census_files.head(5)

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
0,39,69,600,39069000600,6,Census Tract 6,G5020,S,172209103,103802,41.216159,-83.988199
1,39,69,100,39069000100,1,Census Tract 1,G5020,S,170180274,5335012,41.435748,-83.980090
2,39,69,500,39069000500,5,Census Tract 5,G5020,S,253298456,0,41.318672,-83.987238
3,39,69,200,39069000200,2,Census Tract 2,G5020,S,213777955,1223063,41.428682,-84.204301
4,39,69,700,39069000700,7,Census Tract 7,G5020,S,217890839,714779,41.257576,-84.156794

In [13]:
HamiltonCounty = census_files[census_files['COUNTYFP10'] == 61]
HamiltonCounty.head(5)

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
83,39,61,24800,39061024800,248.00,Census Tract 248,G5020,S,2270194,72068,39.143569,-84.376414
84,39,61,24901,39061024901,249.01,Census Tract 249.01,G5020,S,16147622,1485606,39.132096,-84.343017
85,39,61,25002,39061025002,250.02,Census Tract 250.02,G5020,S,8398360,11438,39.064601,-84.387110
86,39,61,25104,39061025104,251.04,Census Tract 251.04,G5020,S,15921188,891476,39.046942,-84.362735
87,39,61,25102,39061025102,251.02,Census Tract 251.02,G5020,S,5162624,0,39.080729,-84.329306

In [14]:
# Load in Census Data that I already sorted, which also has the Neighborhood locations as well (Cleaned up)

CensusCin = pd.read_csv("C:\Users\James\Desktop\CinData\CinCensusTracts.csv")

In [15]:
CinTracts = list(CensusCin['GEOID'])

Cin_Census_Tract2 = []
index_values = []
true_values = []
for value in HamiltonCounty['GEOID10']:
    s = value in CinTracts
    true_values.append(s)
    u = HamiltonCounty.GEOID10[HamiltonCounty.GEOID10 == value].index.tolist() 
    if s == True:
        Cin_Census_Tract2.append(HamiltonCounty.ix[u])
        index_values.append(u)

In [16]:
Cincinnati_City = HamiltonCounty[true_values]
Cincinnati_City.head()

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
90,39,61,25001,39061025001,250.01,Census Tract 250.01,G5020,S,5903864,4532,39.084855,-84.356738
92,39,61,8800,39061008800,88.00,Census Tract 88,G5020,S,1417532,0,39.142512,-84.570912
93,39,61,9200,39061009200,92.00,Census Tract 92,G5020,S,3111915,0,39.120695,-84.561975
94,39,61,9300,39061009300,93.00,Census Tract 93,G5020,S,1130142,0,39.111352,-84.558298
95,39,61,9400,39061009400,94.00,Census Tract 94,G5020,S,438325,0,39.112959,-84.570917

In [21]:
CinLat_Long = Cincinnati_City[['NAME10','GEOID10','INTPTLAT10','INTPTLON10']]
CinLat_Long.columns = ['Name','Census Tract','Latitude','Longitude']
CinLat_Long.head(3)

      Name  Census Tract   Latitude  Longitude
90  250.01   39061025001  39.084855 -84.356738
92   88.00   39061008800  39.142512 -84.570912
93   92.00   39061009200  39.120695 -84.561975

In [22]:
# Copy a dataframe
CinLat_Long2 = CinLat_Long.copy()

# Change the index of the dataframe
CinLat_Long2 = CinLat_Long2.sort('Name')
CinLat_Long2 = CinLat_Long2.set_index([range(110)])

In [25]:
CinLat_Long2.head()

   Name  Census Tract   Latitude  Longitude
0     2   39061000200  39.109783 -84.529551
1     9   39061000900  39.109921 -84.517754
2    10   39061001000  39.110107 -84.512822
3    16   39061001600  39.116750 -84.520418
4    17   39061001700  39.115164 -84.514304

# Matrix of Resources and Agents

## Quarter Mile Matrix

In [26]:
libmatrix = np.zeros((len(Cin_LibThree['LATITUDE']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_LibThree['LATITUDE'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_LibThree.iloc[i,4]
        long1 = Cin_LibThree.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < .25:
            libmatrix[i][j] = 1
    j = j+1
i=i+1

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Lib_Resource = libmatrix
Lib_Resource[np.where(Lib_Resource>0)] = 1
np.fill_diagonal(Lib_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Lib_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Lib_ResourceQuarter.xlsx",'Resource')

In [27]:
libmatrix[0,:]

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.])

In [28]:
libmatrix.shape

(27L, 110L)

In [29]:
# Transpose of the matrix
libmatrixT = np.transpose(libmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(libmatrixT)*np.mat(libmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)

In [30]:
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\libnetwork.xlsx",'lib')

## Half Mile Matrix

In [31]:
libmatrix = np.zeros((len(Cin_LibThree['LATITUDE']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_LibThree['LATITUDE'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_LibThree.iloc[i,4]
        long1 = Cin_LibThree.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < .5:
            libmatrix[i][j] = 1
    j = j+1
i=i+1  

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Lib_Resource = libmatrix
Lib_Resource[np.where(Lib_Resource>0)] = 1
np.fill_diagonal(Lib_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Lib_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Lib_ResourceHalfMile.xlsx",'Resource')

#---------------------------------------------------------------------------------------------
# Transpose of the matrix
libmatrixT = np.transpose(libmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(libmatrixT)*np.mat(libmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)

from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\libnetworkhalfmile.xlsx",'lib')

## One Mile Matrix

In [32]:
libmatrix = np.zeros((len(Cin_LibThree['LATITUDE']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_LibThree['LATITUDE'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_LibThree.iloc[i,4]
        long1 = Cin_LibThree.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 1:
            libmatrix[i][j] = 1
    j = j+1
i=i+1 

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Lib_Resource = libmatrix
Lib_Resource[np.where(Lib_Resource>0)] = 1
np.fill_diagonal(Lib_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Lib_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Lib_ResourceOneMile.xlsx",'Resource')

#--------------------------------------------------------------------------------------------------------
# Transpose of the matrix
libmatrixT = np.transpose(libmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(libmatrixT)*np.mat(libmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)

from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\libnetworkOneMile.xlsx",'lib')

## One and Half Mile Matrix

In [33]:
libmatrix = np.zeros((len(Cin_LibThree['LATITUDE']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_LibThree['LATITUDE'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_LibThree.iloc[i,4]
        long1 = Cin_LibThree.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 1.5:
            libmatrix[i][j] = 1
    j = j+1
i=i+1  

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Lib_Resource = libmatrix
Lib_Resource[np.where(Lib_Resource>0)] = 1
np.fill_diagonal(Lib_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Lib_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Lib_ResourceOneHalf.xlsx",'Resource')
#---------------------------------------------------------------------------------------------------
# Transpose of the matrix
libmatrixT = np.transpose(libmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(libmatrixT)*np.mat(libmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)


#---------------------------------------------------------------------------------------------------
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\libnetworkOneHalfMile.xlsx",'lib')