In [1]:
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
geolocator = Nominatim()

In [2]:
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [3]:
# Load in the Park Data
Cin_Parks = pd.read_csv("C:\Users\James\Desktop\CinData\CinParks2.csv")

In [4]:
Cin_Parks.head()

,Park,Address
0,Alms Park,"711 Alms Park Lane Cincinnati, OH 45226"
1,Annwood Park,"1900 Madison Rd., Cincinnati, OH, 45231"
2,Ault Park,"3600 Observatory Ave, Cincinnati, OH 45208"
3,Bettman Nature Preserve,"4 Beech Lane, Cincinnati, OH, 45208"
4,California Woods Nature Preserve,"California Woods, Cincinnati, OH 45230"

In [5]:
# Testing to see if it works
location = geolocator.geocode("4 Beech Lane, Cincinnati, OH, 45208")

In [6]:
Cin_Parks["Address"][1]

'1900 Madison Rd., Cincinnati, OH, 45231'

In [7]:
print(location.address)

4, Beech Lane, Oâ€™Bryonville, Cincinnati, Hamilton County, Ohio, 45208, United States of America

In [8]:
print(location.latitude)

39.1360039414

In [9]:
print(location.longitude)

-84.4590633382

In [10]:
Cin_Parks.head()

,Park,Address
0,Alms Park,"711 Alms Park Lane Cincinnati, OH 45226"
1,Annwood Park,"1900 Madison Rd., Cincinnati, OH, 45231"
2,Ault Park,"3600 Observatory Ave, Cincinnati, OH 45208"
3,Bettman Nature Preserve,"4 Beech Lane, Cincinnati, OH, 45208"
4,California Woods Nature Preserve,"California Woods, Cincinnati, OH 45230"

In [11]:
Parks_Long = []
Parks_Lat = []

for value in Cin_Parks.Address:
    location = geolocator.geocode(value)
    if location == None:
        Parks_Long.append(0)
        Parks_Lat.append(0)
    else:
        Parks_Long.append(location.longitude)
        Parks_Lat.append(location.latitude)

In [12]:
Cin_Parks["Latitude"] = Parks_Lat
Cin_Parks["Longitude"] = Parks_Long
Cin_Parks

,Park,Address,Latitude,Longitude
0,Alms Park,"711 Alms Park Lane Cincinnati, OH 45226",0.000000,0.000000
1,Annwood Park,"1900 Madison Rd., Cincinnati, OH, 45231",0.000000,0.000000
2,Ault Park,"3600 Observatory Ave, Cincinnati, OH 45208",39.138690,-84.416345
3,Bettman Nature Preserve,"4 Beech Lane, Cincinnati, OH, 45208",39.136004,-84.459063
4,California Woods Nature Preserve,"California Woods, Cincinnati, OH 45230",0.000000,0.000000
5,Daniel Drake Park,"5800 Red Bank Road Cincinnati, OH 45213",39.175080,-84.406097
6,French Park,"3012 Section Road Cincinnati, OH 45237",39.197188,-84.454866
7,Buttercup Valley,"1558 Stanford Drive Cincinnati, OH",39.174240,-84.541408
8,Mt. Echo Park,"202 Crestline Drive Cincinnati, OH 45202",0.000000,0.000000
9,Fernbank Park,"50 Thornton Ave, Cincinnati, OH 45233",39.125616,-84.705989
10,Glenway Woods,"1650 Ross Ave., Cincinnati, OH, 45205",39.118150,-84.569689
11,Hoffner Park,"4101 Hamilton Ave., Cincinnati, OH, 45223",39.160241,-84.539484
12,LaBoiteaux Woods,"5400 Lanius Ln, Cincinnati, OH 45224",39.190359,-84.543588
13,McEvoy Park,"6201 Daly Rd., Cincinnati, OH, 45224",39.202218,-84.532375
14,Avon Woods,"4235 Paddock Rd, Cincinnati, OH 45229",39.160797,-84.479796
15,Bellevue Park,"2191 Ohio Avenue Cincinnati, Oh",39.123054,-84.517697
16,Burnet Woods,"3251 Brookline Ave, Cincinnati, OH 45220",39.144126,-84.515441
17,Caldwell Nature Preserve,"Cincinnati, OH 45216",39.101454,-84.512460
18,Eden Park,"Eden Park Dr, Cincinnati, OH",39.118106,-84.488147
19,Fairview Park,"501 W. McMillan St., Cincinnati, OH, 45219",39.128972,-84.528493
20,Fleischmann Gardens,"Cincinnati, OH 45229",39.101454,-84.512460
21,Hauck Botanical Gardens,"2715 Reading Rd, Cincinnati, OH 45206",39.129831,-84.498486
22,Smale Riverfront Park,"West Mehring Way, Cincinnati, OH 45202",39.094921,-84.513052
23,Sawyer Point & Yeatman's Cove,"705 East Pete Rose Way, Cincinnati, OH",39.101244,-84.500536
24,Theodore M. Berry International Friendship Park,"1101 Riverside Dr, Cincinnati, OH 45202",39.106142,-84.493400
25,Geier Esplanade,"2980 Madison Rd., Cincinnati, OH, 45209",39.150642,-84.434203
26,Hyde Park Square,"2700 Erie Ave, Cincinnati, OH 45208",39.139772,-84.443176
27,Kennedy Heights Park,"6037 Kennedy Ave., Cincinnati, OH, 45213",39.181142,-84.414567
28,Larz Anderson Park,"2905 Golden Ave., Cincinnati, OH, 45226",39.122895,-84.448714
29,Owls Nest Park,"1984 Madison Rd., Cincinnati, OH, 45231",0.000000,0.000000
30,Pioneer Cemetery,"333 Wilmer Ave., Cincinnati, OH, 45228",0.000000,0.000000
31,Stanbery Park,"2221 Oxford Ave, Cincinnati, OH 45230",39.095663,-84.388254
32,Mt. Airy Forest,"5083 Colerain Ave, Cincinnati, OH 45223",39.179734,-84.566014
33,Olden View Park,"2610 8th Street Cincinnati, OH",0.000000,0.000000
34,Parkers Woods,"4400 Haight Ave., Cincinnati, OH, 45223",39.169303,-84.540758
35,Rapid Run Park,"4450 Rapid Run Road Cincinnati, OH 45238",39.117472,-84.586869
36,Sayler Park,"6600 Gracely Dr., Cincinnati, OH, 45233",39.112680,-84.692571
37,Wilson Commons,"2951 Bodley Ave Cincinnati, OH",39.102264,-84.560966
38,Mt. Airy Arboretum,"5083 Colerain Ave, Cincinnati, OH 45223",39.179734,-84.566014
39,Hopkins Park,"207 Dorchester Ave., Cincinnati, OH, 45219",39.117871,-84.508529
40,Inwood Park,"2308 Vine St., Cincinnati, OH, 45219",39.126131,-84.512632
41,Laurel Park,"500 Ezzard Charles Dr., Cincinnati, OH, 45203",39.109105,-84.523361
42,Lytle Park,"Cincinnati, OH 45202",39.101454,-84.512460
43,Mt. Storm Park,"700 Lafayette Ave, Cincinnati, OH 45223",39.150624,-84.532359
44,Piatt Park,"100 Garfield Pl, Cincinnati, OH 45202",0.000000,0.000000
45,Rawson Woods Nature Preserve,"3701 Middleton Ave., Cincinnati, OH, 45220",39.150224,-84.521926
46,Washington Park,"1230 Elm St, Cincinnati, OH 45202",39.108065,-84.517953
47,Otto Armleder Park,"5057 Wooster Pike, Cincinnati, OH 45227",39.135534,-84.400010
48,Magrish Preserve,"5000 Salem Rd., Cincinnati, OH, 45230",39.081892,-84.418613

In [13]:
Cin_ParksLoc = Cin_Parks[Cin_Parks["Latitude"]>0]

# Plot Data to Go Onto Map

In [14]:
from xlwt import *
Cin_ParksLoc = pd.DataFrame(Cin_ParksLoc)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
Cin_ParksLoc.to_excel("C:\Users\James\Desktop\CinData\ResourceLocation\Park_Resource_Location.xlsx",'Resource')

## Load in the Census Data

In [31]:
census_files = pd.read_csv("C:\Users\James\Desktop\CinData\OhioCensusTracts\OhioCensusTracts.csv")

#-----------------------------------------------------------------------------------------------------
HamiltonCounty = census_files[census_files['COUNTYFP10'] == 61]

#----------------------------------------------------------------------


# Load in Census Data that I already sorted, which also has the Neighborhood locations as well (Cleaned up)

CensusCin = pd.read_csv("C:\Users\James\Desktop\CinData\CinCensusTracts.csv")

#-----------------------------------------------------------------------

CinTracts = list(CensusCin['GEOID'])

Cin_Census_Tract2 = []
index_values = []
true_values = []
for value in HamiltonCounty['GEOID10']:
    s = value in CinTracts
    true_values.append(s)
    u = HamiltonCounty.GEOID10[HamiltonCounty.GEOID10 == value].index.tolist() 
    if s == True:
        Cin_Census_Tract2.append(HamiltonCounty.ix[u])
        index_values.append(u)    
        
#------------------------------------------------------------------------
Cincinnati_City = HamiltonCounty[true_values]

#------------------------------------------------------------------------
CinLat_Long = Cincinnati_City[['NAME10','GEOID10','INTPTLAT10','INTPTLON10']]
CinLat_Long.columns = ['Name','Census Tract','Latitude','Longitude']

#------------------------------------------------------------------------
# Copy a dataframe
CinLat_Long2 = CinLat_Long.copy()

# Change the index of the dataframe
CinLat_Long2 = CinLat_Long2.sort("Name")
CinLat_Long2 = CinLat_Long2.set_index([range(110)])

In [22]:
HamiltonCounty.columns

Index([u'STATEFP10', u'COUNTYFP10', u'TRACTCE10', u'GEOID10', u'NAME10', u'NAMELSAD10', u'MTFCC10', u'FUNCSTAT10', u'ALAND10', u'AWATER10', u'INTPTLAT10', u'INTPTLON10'], dtype='object')

In [32]:
CinLat_Long2.head(10)

   Name  Census Tract   Latitude  Longitude
0     2   39061000200  39.109783 -84.529551
1     9   39061000900  39.109921 -84.517754
2    10   39061001000  39.110107 -84.512822
3    16   39061001600  39.116750 -84.520418
4    17   39061001700  39.115164 -84.514304
5    18   39061001800  39.115154 -84.505974
6    19   39061001900  39.116663 -84.494640
7    22   39061002200  39.122296 -84.504708
8    23   39061002300  39.121316 -84.511896
9    25   39061002500  39.124429 -84.516860

In [34]:
len(CinLat_Long2)

110

## Matrix of Resources and Agents

## Quarter Mile Matrix

In [35]:
Parkmatrix = np.zeros((len(Cin_ParksLoc['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_ParksLoc['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_ParksLoc.iloc[i,2]
        long1 = Cin_ParksLoc.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < .25:
            Parkmatrix[i][j] = 1
    j = j+1
i=i+1  

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Park_Resource = Parkmatrix
Park_Resource[np.where(Park_Resource>0)] = 1
#np.fill_diagonal(Park_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Park_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Park_ResourceQuarter.xlsx",'Resource')
#---------------------------------------------------------------------------------------------------
# Transpose of the matrix
ParkmatrixT = np.transpose(Parkmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(ParkmatrixT)*np.mat(Parkmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)


#---------------------------------------------------------------------------------------------------
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\ParksnetworkQuarterHalfMile.xlsx",'Park')

## Half Mile Matrix

In [36]:
Parkmatrix = np.zeros((len(Cin_ParksLoc['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_ParksLoc['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_ParksLoc.iloc[i,2]
        long1 = Cin_ParksLoc.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < .5:
            Parkmatrix[i][j] = 1
    j = j+1
i=i+1  

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Park_Resource = Parkmatrix
Park_Resource[np.where(Park_Resource>0)] = 1
#np.fill_diagonal(Park_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Park_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Park_ResourceHalfMile.xlsx",'Resource')
#---------------------------------------------------------------------------------------------------
# Transpose of the matrix
ParkmatrixT = np.transpose(Parkmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(ParkmatrixT)*np.mat(Parkmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)


#---------------------------------------------------------------------------------------------------
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\ParksnetworkHalfMile.xlsx",'Park')

## One Mile Matrix

In [37]:
Parkmatrix = np.zeros((len(Cin_ParksLoc['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_ParksLoc['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_ParksLoc.iloc[i,2]
        long1 = Cin_ParksLoc.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 1:
            Parkmatrix[i][j] = 1
    j = j+1
i=i+1  

#---------------------------------------------------------------------------------------------------
## Need Park Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Park_Resource = Parkmatrix
Park_Resource[np.where(Park_Resource>0)] = 1
#np.fill_diagonal(Park_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Park_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Park_ResourceOneMile.xlsx",'Resource')
#---------------------------------------------------------------------------------------------------
# Transpose of the matrix
ParkmatrixT = np.transpose(Parkmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(ParkmatrixT)*np.mat(Parkmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)


#---------------------------------------------------------------------------------------------------
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\ParksnetworkOneMile.xlsx",'Park')

## One and a Half Mile

In [38]:
Parkmatrix = np.zeros((len(Cin_ParksLoc['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Cin_ParksLoc['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Cin_ParksLoc.iloc[i,2]
        long1 = Cin_ParksLoc.iloc[i,3]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 1.5:
            Parkmatrix[i][j] = 1
    j = j+1
i=i+1  

#---------------------------------------------------------------------------------------------------
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Park_Resource = Parkmatrix
Park_Resource[np.where(Park_Resource>0)] = 1
#np.fill_diagonal(Park_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Park_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Park_ResourceOneHalf.xlsx",'Resource')
#---------------------------------------------------------------------------------------------------
# Transpose of the matrix
ParkmatrixT = np.transpose(Parkmatrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(ParkmatrixT)*np.mat(Parkmatrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)


#---------------------------------------------------------------------------------------------------
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\ParksnetworkOneandHalfMile.xlsx",'Park')