## Cincinnati Grocery Stores

In [67]:
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
from geopy.exc import GeocoderTimedOut

geolocator = Nominatim()

In [68]:
# Testing
#location = geolocator.geocode("4001 State Route 128 Cincinnati,")

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
Grocery_stores = pd.read_csv("C:\Users\James\Desktop\CinData\Cin_Grocery_Stores.csv")

In [71]:
Grocery_stores.head(5)

   Number                           Address State  ZipCode StoreName
0     806  4001 State Route 128 Cincinnati,    OH    45201    Kroger
1     807          1420 Vine St Cincinnati,    OH    45202    Kroger
2     808               Vine St Cincinnati,    OH    45202    Kroger
3     809       3614 Warsaw Ave Cincinnati,    OH    45205    Kroger
4     810     954 E Mcmillan St Cincinnati,    OH    45206    Kroger

In [72]:
Groc_Long = []
Groc_Lat = []

In [73]:
# Find the latitude and longitude of each grocery store based on the address of the store.

for value in Grocery_stores.Address:
    location = geolocator.geocode(value,timeout=None)
    if location == None:
        Groc_Long.append(0)
        Groc_Lat.append(0)
    else:
        Groc_Long.append(location.longitude)
        Groc_Lat.append(location.latitude)

In [74]:
print Groc_Long

[0, -84.5154712857143, -84.4751959, -84.5710799895344, -84.4885216031932, -84.431709, -84.5798357634302, -84.6223112000467, -84.6245155656985, -84.4708692, 0, -84.5124602, -84.4743248095238, -84.510679, -84.5047903846154, -84.4119169, -84.5450859, 0, -84.5147870303192, -84.4640292, 0, -84.4620562758716, -84.5742644, -84.6008355714286, -84.5757116, 0, 0, -84.4708692, -84.29934, 0, -84.51575981214, 0, 0, 0, -84.5124602, 0, -84.5874451228628, 0, 0, -84.6963489, 0, 0, -84.2265732381096, 0, 0, 0, 0, -84.54412, -84.4708692, 0, -84.5757116, 0, -84.4188309, -84.4901558930565, -84.5742644, -84.4845349, 0, -84.5000343, 0, -84.54412, 0, 0, 0, 0, -84.5757116, 0, 0, 0, -84.5757116, 0, -84.5757116, -84.418905, 0, -84.45191025, 0, -84.4247287449664, 0, -84.54412, 0, 0, 0, -84.5450859]

In [75]:
print Groc_Lat

[0, 39.111473, 39.201296, 39.1105790050365, 39.1259145117681, 39.145087, 39.1400688169633, 39.1442278631911, 39.1454787783495, 39.1429649, 0, 39.1014537, 39.2116776190476, 39.129086, 39.1362116153846, 39.120882, 39.187231, 0, 39.16442395, 39.2118312, 0, 39.1884141152477, 39.0938416, 39.1277537142857, 39.195839, 0, 0, 39.1429649, 39.104307, 0, 39.1318525, 0, 0, 0, 39.1014537, 0, 39.18646525, 0, 0, 39.2102049, 0, 0, 39.0280588, 0, 0, 0, 0, 39.1231706, 39.1429649, 0, 39.195839, 0, 39.121735, 39.1459049050881, 39.0938416, 39.21396, 0, 39.1167846, 0, 39.1231706, 0, 0, 0, 0, 39.195839, 0, 0, 0, 39.195839, 0, 39.195839, 39.1409960909091, 0, 39.2065045, 0, 39.1632641073825, 0, 39.1231706, 0, 0, 0, 39.187231]

In [76]:
len(Groc_Lat), len(Groc_Long), len(Grocery_stores.Address)

(82, 82, 82)

In [77]:
type(Groc_Lat), type(Groc_Long), type(Grocery_stores)

(list, list, pandas.core.frame.DataFrame)

In [78]:
Grocery_stores['Longitude'] = Groc_Long
Grocery_stores['Latitude'] = Groc_Lat
Grocery_stores.head(5)

,Number,Address,State,ZipCode,StoreName,Longitude,Latitude
0,806,"4001 State Route 128 Cincinnati,",OH,45201,Kroger,0.000000,0.000000
1,807,"1420 Vine St Cincinnati,",OH,45202,Kroger,-84.515471,39.111473
2,808,"Vine St Cincinnati,",OH,45202,Kroger,-84.475196,39.201296
3,809,"3614 Warsaw Ave Cincinnati,",OH,45205,Kroger,-84.571080,39.110579
4,810,"954 E Mcmillan St Cincinnati,",OH,45206,Kroger,-84.488522,39.125915

In [80]:
### Testing
location = geolocator.reverse("39.11147, -84.51547")
print(location.address)

Kroger, Vine Street, Vine Street Business District, Over-The-Rhine, Cincinnati, Hamilton County, Ohio, 45202, United States of America

In [81]:
Grocery_stores2 = Grocery_stores.copy()

In [82]:
Long_overzero = Grocery_stores[Grocery_stores['Latitude'] > 0]

In [83]:
# Only look at Longitude and Latitude values that are greater than zero.
Long_overzero.head()

,Number,Address,State,ZipCode,StoreName,Longitude,Latitude
1,807,"1420 Vine St Cincinnati,",OH,45202,Kroger,-84.515471,39.111473
2,808,"Vine St Cincinnati,",OH,45202,Kroger,-84.475196,39.201296
3,809,"3614 Warsaw Ave Cincinnati,",OH,45205,Kroger,-84.571080,39.110579
4,810,"954 E Mcmillan St Cincinnati,",OH,45206,Kroger,-84.488522,39.125915
5,811,"3760 Paxton Ave Cincinnati,",OH,45209,Kroger,-84.431709,39.145087

In [84]:
#df=df.rename(columns = {'two':'new_name'})
Long_overzero = Long_overzero.rename(columns = {"Longitude":'LONGITUDE',"Latitude":'LATITUDE'})

# Plot Data to Go Onto Map

In [85]:
from xlwt import *
Long_overzero_Location = pd.DataFrame(Long_overzero)
#Long_overzero_Location.to_excel("C:\Users\James\Desktop\CinData\ResourceLocation\GroceryStore_Resource_Location.xlsx",'Resource')

## Load in the Census Tract Information

In [86]:
census_files = pd.read_csv("C:\Users\James\Desktop\CinData\OhioCensusTracts\OhioCensusTracts.csv")

In [87]:
census_files.head(5)

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
0,39,69,600,39069000600,6,Census Tract 6,G5020,S,172209103,103802,41.216159,-83.988199
1,39,69,100,39069000100,1,Census Tract 1,G5020,S,170180274,5335012,41.435748,-83.980090
2,39,69,500,39069000500,5,Census Tract 5,G5020,S,253298456,0,41.318672,-83.987238
3,39,69,200,39069000200,2,Census Tract 2,G5020,S,213777955,1223063,41.428682,-84.204301
4,39,69,700,39069000700,7,Census Tract 7,G5020,S,217890839,714779,41.257576,-84.156794

In [88]:
HamiltonCounty = census_files[census_files['COUNTYFP10'] == 61]

In [89]:
HamiltonCounty.head(5)

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
83,39,61,24800,39061024800,248.00,Census Tract 248,G5020,S,2270194,72068,39.143569,-84.376414
84,39,61,24901,39061024901,249.01,Census Tract 249.01,G5020,S,16147622,1485606,39.132096,-84.343017
85,39,61,25002,39061025002,250.02,Census Tract 250.02,G5020,S,8398360,11438,39.064601,-84.387110
86,39,61,25104,39061025104,251.04,Census Tract 251.04,G5020,S,15921188,891476,39.046942,-84.362735
87,39,61,25102,39061025102,251.02,Census Tract 251.02,G5020,S,5162624,0,39.080729,-84.329306

In [90]:
# Load in Census Data that I already sorted, which also has the Neighborhood locations as well (Cleaned up)

CensusCin = pd.read_csv("C:\Users\James\Desktop\CinData\CinCensusTracts.csv")

In [91]:
CensusCin.head()

  USPS        GEOID  CensusTractRaw  CensusTract  ALAND_SQMI    Neighborhood
0   OH  39061000200             200            2       0.112        West End
1   OH  39061000900             900            9       0.117  Over-the-Rhine
2   OH  39061001000            1000           10       0.096  Over-the-Rhine
3   OH  39061001600            1600           16       0.132  Over-the-Rhine
4   OH  39061001700            1700           17       0.088  Over-the-Rhine

In [92]:
CinTracts = list(CensusCin['GEOID'])

Cin_Census_Tract2 = []
index_values = []
true_values = []
for value in HamiltonCounty['GEOID10']:
    s = value in CinTracts
    true_values.append(s)
    u = HamiltonCounty.GEOID10[HamiltonCounty.GEOID10 == value].index.tolist() 
    if s == True:
        Cin_Census_Tract2.append(HamiltonCounty.ix[u])
        index_values.append(u)

In [93]:
Cincinnati_City = HamiltonCounty[true_values]
Cincinnati_City.head()

,STATEFP10,COUNTYFP10,TRACTCE10,GEOID10,NAME10,NAMELSAD10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
90,39,61,25001,39061025001,250.01,Census Tract 250.01,G5020,S,5903864,4532,39.084855,-84.356738
92,39,61,8800,39061008800,88.00,Census Tract 88,G5020,S,1417532,0,39.142512,-84.570912
93,39,61,9200,39061009200,92.00,Census Tract 92,G5020,S,3111915,0,39.120695,-84.561975
94,39,61,9300,39061009300,93.00,Census Tract 93,G5020,S,1130142,0,39.111352,-84.558298
95,39,61,9400,39061009400,94.00,Census Tract 94,G5020,S,438325,0,39.112959,-84.570917

In [94]:
CinLat_Long = Cincinnati_City[['GEOID10','INTPTLAT10','INTPTLON10','NAME10','NAMELSAD10']]
CinLat_Long.columns = ['Census Tract','Latitude','Longitude','NAME','Censusname']
CinLat_Long.head(3)

    Census Tract   Latitude  Longitude    NAME           Censusname
90   39061025001  39.084855 -84.356738  250.01  Census Tract 250.01
92   39061008800  39.142512 -84.570912   88.00      Census Tract 88
93   39061009200  39.120695 -84.561975   92.00      Census Tract 92

In [95]:
# Copy a dataframe
CinLat_Long2 = CinLat_Long.copy()

# Change the index of the dataframe
CinLat_Long2 = CinLat_Long2.set_index([range(110)])

In [96]:
CinLat_Long2.head()

   Census Tract   Latitude  Longitude    NAME           Censusname
0   39061025001  39.084855 -84.356738  250.01  Census Tract 250.01
1   39061008800  39.142512 -84.570912   88.00      Census Tract 88
2   39061009200  39.120695 -84.561975   92.00      Census Tract 92
3   39061009300  39.111352 -84.558298   93.00      Census Tract 93
4   39061009400  39.112959 -84.570917   94.00      Census Tract 94

In [97]:
from xlwt import *
fixing = CinLat_Long2
#fixing.to_excel("C:\Users\James\Desktop\CinData\Resources\Census_fixing.xlsx",'Network')

In [98]:
result = CinLat_Long2.sort("NAME")

In [99]:
result.tail(10)

     Census Tract   Latitude  Longitude  NAME        Censusname
100   39061026300  39.115252 -84.539208   263  Census Tract 263
102   39061026400  39.109185 -84.523869   264  Census Tract 264
101   39061026500  39.098925 -84.513262   265  Census Tract 265
109   39061026600  39.118431 -84.447741   266  Census Tract 266
104   39061026700  39.124404 -84.495622   267  Census Tract 267
106   39061026800  39.107594 -84.499167   268  Census Tract 268
103   39061026900  39.118153 -84.529091   269  Census Tract 269
105   39061027000  39.137623 -84.494799   270  Census Tract 270
107   39061027100  39.191204 -84.466261   271  Census Tract 271
108   39061027200  39.128577 -84.559781   272  Census Tract 272

In [100]:
result.head()

    Census Tract   Latitude  Longitude  NAME       Censusname
25   39061000200  39.109783 -84.529551     2   Census Tract 2
26   39061000900  39.109921 -84.517754     9   Census Tract 9
27   39061001000  39.110107 -84.512822    10  Census Tract 10
28   39061001600  39.116750 -84.520418    16  Census Tract 16
29   39061001700  39.115164 -84.514304    17  Census Tract 17

In [101]:
# Checking to make sure the sort function works

CinLat_Long2[CinLat_Long2["NAME"]==263]

     Census Tract   Latitude  Longitude  NAME        Censusname
100   39061026300  39.115252 -84.539208   263  Census Tract 263

In [102]:
# Change the index of the dataframe
result = result.set_index([range(110)])

In [103]:
result.head()

   Census Tract   Latitude  Longitude  NAME       Censusname
0   39061000200  39.109783 -84.529551     2   Census Tract 2
1   39061000900  39.109921 -84.517754     9   Census Tract 9
2   39061001000  39.110107 -84.512822    10  Census Tract 10
3   39061001600  39.116750 -84.520418    16  Census Tract 16
4   39061001700  39.115164 -84.514304    17  Census Tract 17

In [110]:
CinLat_Long2 = result
len(CinLat_Long2)

110

In [111]:
CinLat_Long2.head()

   Census Tract   Latitude  Longitude  NAME       Censusname
0   39061000200  39.109783 -84.529551     2   Census Tract 2
1   39061000900  39.109921 -84.517754     9   Census Tract 9
2   39061001000  39.110107 -84.512822    10  Census Tract 10
3   39061001600  39.116750 -84.520418    16  Census Tract 16
4   39061001700  39.115164 -84.514304    17  Census Tract 17

# Create a file of the Census Tracts in order

In [128]:
from xlwt import *
CensusTracts_Ordered = pd.DataFrame(CinLat_Long2)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
CensusTracts_Ordered.to_excel("C:\Users\James\Desktop\CinData\Resources\CensusTracts_Ordered.xlsx",'CensusTracts')

In [112]:
Long_overzero.head()

,Number,Address,State,ZipCode,StoreName,Longitude,Latitude
1,807,"1420 Vine St Cincinnati,",OH,45202,Kroger,-84.515471,39.111473
2,808,"Vine St Cincinnati,",OH,45202,Kroger,-84.475196,39.201296
3,809,"3614 Warsaw Ave Cincinnati,",OH,45205,Kroger,-84.571080,39.110579
4,810,"954 E Mcmillan St Cincinnati,",OH,45206,Kroger,-84.488522,39.125915
5,811,"3760 Paxton Ave Cincinnati,",OH,45209,Kroger,-84.431709,39.145087

In [113]:
Long_overzero = Long_overzero.rename(columns={"LONGITUDE":"Longitude","LATITUDE":"Latitude"})

In [114]:
Long_overzero.head()

,Number,Address,State,ZipCode,StoreName,Longitude,Latitude
1,807,"1420 Vine St Cincinnati,",OH,45202,Kroger,-84.515471,39.111473
2,808,"Vine St Cincinnati,",OH,45202,Kroger,-84.475196,39.201296
3,809,"3614 Warsaw Ave Cincinnati,",OH,45205,Kroger,-84.571080,39.110579
4,810,"954 E Mcmillan St Cincinnati,",OH,45206,Kroger,-84.488522,39.125915
5,811,"3760 Paxton Ave Cincinnati,",OH,45209,Kroger,-84.431709,39.145087

In [115]:
from xlwt import *
Long_overzero_Locations = pd.DataFrame(Long_overzero)

Long_overzero_Locations.to_excel("C:\Users\James\Desktop\CinData\ResourceLocation\Grocery_Resource_Location.xlsx",'Resource')

## Matrix of Agents and Resources

## Quarter Mile Matrix

In [116]:
# Create a matrix of Agents and Resources whose distance is less than a quartile miles 

Grocery_matrix = np.zeros((len(Long_overzero['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Long_overzero['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Long_overzero.iloc[i,6]
        long1 = Long_overzero.iloc[i,5]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 0.25:
            Grocery_matrix[i][j] = 1
    j = j+1
i=i+1

In [117]:
Grocery_matrix[:,0]

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.])

In [118]:
Grocery_matrix.shape

(45L, 110L)

In [119]:
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Grocery_Resource = Grocery_matrix
Grocery_Resource[np.where(Grocery_Resource>0)] = 1
#np.fill_diagonal(Grocery_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Grocery_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Grocery_ResourceQuarter.xlsx",'Resource')

In [120]:
# Transpose of the matrix
GrocerymatrixT = np.transpose(Grocery_matrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(GrocerymatrixT)*np.mat(Grocery_matrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)
PP[0,:]

matrix([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.]])

In [121]:
PP.shape

(110L, 110L)

In [122]:
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\Grocery_NetworkQuarterMile.xlsx",'lib')

## Half Mile Matrix

In [123]:
# Create a matrix of Agents and Resources whose distance is less than a quartile miles 

Grocery_matrix = np.zeros((len(Long_overzero['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Long_overzero['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Long_overzero.iloc[i,6]
        long1 = Long_overzero.iloc[i,5]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 0.5:
            Grocery_matrix[i][j] = 1
    j = j+1
i=i+1

Grocery_matrix.shape

(45L, 110L)

In [124]:
## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Grocery_Resource = Grocery_matrix
Grocery_Resource[np.where(Grocery_Resource>0)] = 1
#np.fill_diagonal(Grocery_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Grocery_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Grocery_ResourceHalfMile.xlsx",'Resource')

In [125]:
# Transpose of the matrix
GrocerymatrixT = np.transpose(Grocery_matrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(GrocerymatrixT)*np.mat(Grocery_matrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)
PP[0,:]
#PP.shape

matrix([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.]])

In [126]:
from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\Data\Grocery_NetworkHalfMile.xlsx",'lib')

## One Mile Matrix

In [127]:
# Create a matrix of Agents and Resources whose distance is less than a quartile miles 

Grocery_matrix = np.zeros((len(Long_overzero['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Long_overzero['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Long_overzero.iloc[i,6]
        long1 = Long_overzero.iloc[i,5]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 1:
            Grocery_matrix[i][j] = 1
    j = j+1
i=i+1
#-------------------------------------------------------------------------------------------

## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Grocery_Resource = Grocery_matrix
Grocery_Resource[np.where(Grocery_Resource>0)] = 1
#np.fill_diagonal(Grocery_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Grocery_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Grocery_ResourceOneMile.xlsx",'Resource')


#-------------------------------------------------------------------------------------------
# Transpose of the matrix
GrocerymatrixT = np.transpose(Grocery_matrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(GrocerymatrixT)*np.mat(Grocery_matrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)

#-------------------------------------------------------------------------------------------

from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\Data\Grocery_NetworkOneMile.xlsx",'lib')

## One Half Mile Matrix

In [137]:
# Create a matrix of Agents and Resources whose distance is less than a quartile miles 

Grocery_matrix = np.zeros((len(Long_overzero['Latitude']),len(CinLat_Long2)))
i = 0
j = 0

for i in range(len(Long_overzero['Latitude'])):
    for j in range(len(CinLat_Long2)):
        lat1  = Long_overzero.iloc[i,6]
        long1 = Long_overzero.iloc[i,5]
        resource = lat1, long1
        lat2 = CinLat_Long2.iloc[j,1]
        long2 = CinLat_Long2.iloc[j,2]
        agent = lat2, long2
        distance1 = (vincenty(resource, agent).miles)
        if distance1 < 1.5:
            Grocery_matrix[i][j] = 1
    j = j+1
i=i+1
#-------------------------------------------------------------------------------------------

## Need Grocery Matrix to be apart of the larger matrix of Census Tracts and Resources
## Create a matrix to send to a file so I can pull it up
Grocery_Resource = Grocery_matrix
Grocery_Resource[np.where(Grocery_Resource>0)] = 1
#np.fill_diagonal(Grocery_Resource,0)

#---------------------------------------------------------------------------------------------
from xlwt import *
QQ = pd.DataFrame(Grocery_Resource)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
QQ.to_excel("C:\Users\James\Desktop\CinData\Resources\Grocery_ResourceOneHalf.xlsx",'Resource')


#-------------------------------------------------------------------------------------------
# Transpose of the matrix
GrocerymatrixT = np.transpose(Grocery_matrix)

# Create a matrix of Agents by Agents (lib by lib)
PP = np.mat(GrocerymatrixT)*np.mat(Grocery_matrix)
PP[np.where(PP>0)] =1
np.fill_diagonal(PP,0)

#-------------------------------------------------------------------------------------------

from xlwt import *
PP = pd.DataFrame(PP)
# Export dataframe to Excel
# you can export to both .xls and .xlsx
PP.to_excel("C:\Users\James\Desktop\CinData\Data\Grocery_NetworkOneHalfMile.xlsx",'lib')